/* Text component */
.text {
    padding: 10px;
    display: flex;
}
.text + .text {
    margin-top: 10px;
}

/* List component */
.list {

}

/* Title component */
.title {

}

/* Image component */
.image {

}
