body, div, table, tr ,td, img, ul, li, p, input, fieldset, iframe, h1, h2 ,h3 ,h4, h5, h6, a, a:focus, a:visited {
    padding: 0;
	margin: 0;
	border: 0;
	vertical-align: top;
	outline: none;
	list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* Global configuration CSS */
@media screen and (max-width: 1100px) {
    .global {
        width: 90vw;
    }
}
@media screen and (min-width: 1100px) {
    .global {
        width: 1100px;
    }
}

.global {
    height: inherit;
    display: flex;
    flex-direction: column;
}
#header, #menu, #container, #footer, #left, #center, #right {
    position: relative;
    display: flex;
}

/* Template configuration */
#header {
    height: 200px;
    background: green;
    margin: 10px 0;
}
#menu {
    height: 40px;
    background: orange;
}
#container {
    margin: 10px 0;
    min-height: 600px;
}

#left, #center, #right {
    flex-direction: column;
}

#left {
    flex: 1 0 160px;
    background: red;
}
    #left ~ #center {
        margin-left: 10px;
    }
    #left ~ #right {
        margin-left: 10px;
    }

#center {
    flex-grow: 3;
    background: pink;
}
    #center ~ #right {
        margin-left: 10px;
    }

#right {
    flex: 1 0 160px;
    background: yellow;
}

#footer {
    height: 150px;
    background: purple;
}
